/* below line is write to use google font online  */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

#loader {
    position: absolute;
    left: 40%;
    top: 40%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display:block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#form{
    align-self: center;
}

#form_sample{
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    border: 1px solid #ccc;
    padding: 0px 50px 15px;
    margin-top:20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    align-items: center;
    display: none;
}

#container{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 70px;
    width: 80%;
    border: 1px solid #ccc;
    padding: 15px 40px 15px;
    margin-top:20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    background-color: grey;
    text-align: left;
}

#container_2{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 70px;
    width: 80%;
    border: 1px solid #ccc;
    padding: 15px 40px 15px;
    margin-top:20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    background-color: grey;
    text-align: left;
}

#container_3{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 70px;
    width: 80%;
    border: 1px solid #ccc;
    padding: 15px 40px 15px;
    margin-top:20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    background-color: grey;
    text-align: left;
}

#num_1 {
    margin-left: 40px;
}


#debugV {
    text-align: left;
}

#num_2 {
    margin-left: 70px;
}
 
#iframe1 {
    margin-right: 150px;
    float: right;
    vertical-align: top;
}

#indent {
    text-align: left;
    margin-left: 70px;
    display: none;
}

span
{
    display: block;
    text-align: left;
    width:200px;
}


#main h1{
    margin-top:40px; 
}

hr{
    margin-top:-5px;
}

h4{
    text-align: left;
    color:red;
    word-wrap: break-word;
}

label{
    float: left;
    font-size: 16px;
}

p{
    margin-left: 40px; 
}

#col{
   align-self: center;
}

.button {
    background-color: rgb(79, 110, 117);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}